<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>




<nav class="navbar navbar-light" style="background-color: #e3f2fd;">  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://127.0.0.1:8000/polls/">Polls</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
      <li class="nav-item">
        <a class="nav-link " href="http://127.0.0.1:8000/polls/deepthoughts/">Deepthoughts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="http://127.0.0.1:8000/polls/1/results/">Results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/polls/deepthoughts/list/">List</a>
      </li>   
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

</nav>

<div class="p-3 mb-2 bg-info text-dark"></div>

<div class = "row justify-content-center">

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h3>{{ question.question_text }}</h3></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}  
    <div class ="form-check">
        <input type="radio" class="form-check-input" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label display="inline" class= " form-check-input" for="choice{{ forloop.counter }}">
        <li>{{ choice.choice_text }}</li>
    	</label>
    	<br>
    </div>
    {% endfor %}
</fieldset>
<div class="input-group mb-3">
     	<div class="input-group-prepend">
     		<button type="submit" value="Share" class ="btn btn-info">Vote</button></a>
    </div>

</form>


</div>
</div>






<div class="container-fluid mt-5">
    <div class="card mx-5">
        <div class="row mb-3 ">
                <div class="footer-text pull-left">
                    <div class="d-flex">
                        <h4 class="font-weight-bold mr-1 px-1" style="color:#fff; background-color:#20c997"> CS </h4>
                        <h4 style="color: #20c997">3240</h4>
                    </div>
    
        <div class="divider mb-4"> </div>
        <div class="row" style="font-size:10px;">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="pull-left">
                </div>
            </div>
                <div class="pull-right mr-4 d-flex policy">
                    <div>Fc5ddr@gmail.com</div>
                <div class="pull-right mr-4 d-flex policy">    
                    <div>© 2021 copyright</div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>